@charset "UTF-8";

.container {
  width: 1000px;
  margin: 50px auto;
}

.tab_title li {
  list-style: none;
  float: left;
  width: 33%;
  padding: 10px 15px;
  text-align: center;
  border: 1px solid #bebebe;
}

.tab_title li.on {
  background-color:#ff0080;
  font-weight: bold;
}

.tab_cont {
  clear: both;
  border: 1px solid #ffffff;
  height: 500px;
  background-color: #ffffff;
}

.tab_cont div {
  display: none;
  text-align: center;
}

.tab_cont div.on {
  display: block;
}