@charset "UTF-8";

.container {
  width: 500px;
  margin: 20px auto;
}

.tab_title li {
  list-style: none;
  float: left;
  width: 100px;
  padding: 10px 15px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #bebebe;
}

.tab_title li.on {
  background-color: #ffb715;
  font-weight: bold;
}

.tab_cont {
  clear: both;
  border: 1px solid #dedede;
  height: 5000px;
  background-color: #cecece;
}

.tab_cont div {
  display: none;
  text-align: center;
}

.tab_cont div.on {
  display: block;
}