<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lg.t2.gameBox.GameBoxDAO">

	<select id="getList" parameterType="com.lg.t2.gameBox.GameBoxDTO" resultType="com.lg.t2.gameBox.GameBoxDTO">
<!-- 		select * from gamebox -->
<!-- 		where playtime = (select playtime from gamebox where team = '엘지' and playdate = #{playDate, jdbcType=VARCHAR}) -->
<!-- 		and place = (select place from gamebox where team = '엘지' and playdate = #{playDate, jdbcType=VARCHAR}) -->
<!-- 		and playdate = #{playDate, jdbcType=VARCHAR} -->
			select a.ordernum, a.team, a.score, a.place, a.playdate, a.playtime, a.playing, a.wwl, 
			b.score1, b.score2, b.score3, b.score4, b.score5, b.score6, b.score7, b.score8, b.score9, b.runs, b.hits, b.mistake, b.balls
			from gamebox a join match b on (a.ordernum = b.ordernum)
			where playtime = (select playtime from gamebox where team = '엘지' and playdate = #{playDate, jdbcType=VARCHAR})
			and place = (select place from gamebox where team = '엘지' and playdate = #{playDate, jdbcType=VARCHAR})
			and playdate = #{playDate, jdbcType=VARCHAR}
	</select>

	<select id="getSelect" parameterType="com.lg.t2.gameBox.GameBoxDTO" resultType="com.lg.t2.gameBox.GameBoxDTO">
		select * from gameBox where orderNum = #{orderNum}
	</select>
	
	<insert id="setInsert" parameterType="com.lg.t2.gameBox.GameBoxDTO">
		insert into gameBox values(gameBox_SEQ.nextval, #{team}, #{score}, #{place}, #{playDate, jdbcType=VARCHAR} , #{playTime, jdbcType=VARCHAR}, #{playing}, #{wwl}, #{logo, jdbcType=VARCHAR})
	</insert>
	
	<update id="setUpdate" parameterType="com.lg.t2.gameBox.GameBoxDTO">
		update gameBox set score=#{score}, wwl=#{wwl}, playing=#{playing} where orderNum=#{orderNum}
	</update> 

	<delete id="setDelete" parameterType="com.lg.t2.gameBox.GameBoxDTO">
		delete gameBox where orderNum=#{orderNum}
	</delete>

</mapper>  