<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lg.t2.gameBox.GameBoxDAO">

	<select id="getList" resultType="com.lg.t2.gameBox.GameBoxDTO">
<!-- 		select * from gameBox order by orderNum desc -->
		select * from gameBox where team='엘지'
	</select>

	<select id="getSelect" parameterType="com.lg.t2.gameBox.GameBoxDTO" resultType="com.lg.t2.gameBox.GameBoxDTO">
		select * from gameBox where orderNum = #{orderNum}
	</select>
	
	<insert id="setInsert" parameterType="com.lg.t2.gameBox.GameBoxDTO">
		insert into gameBox values(gameBox_SEQ.nextval, #{team}, #{score}, #{place}, #{playDate} ,#{playing}, #{wwl}, #{logo, jdbcType=VARCHAR})
	</insert>
	
	<update id="setUpdate" parameterType="com.lg.t2.gameBox.GameBoxDTO">
		update gameBox set score=#{score}, wwl=#{wwl}, playing=#{playing} where orderNum=#{orderNum}
	</update> 

</mapper>  