<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lg.t2.board.notice.NoticeDAO">

	
	<select id="getList" resultType="NoticeDTO" parameterType="Pager">
		select * from
			(select rownum R, N.* from
				(select * from notice where
					<choose>
						<when test="kind=='title'">
							title
						</when>
						
						<when test="kind =='Contents'">
							contents
						</when>
						
						<otherwise>
							date
						</otherwise>
					
					</choose>
					
				  like '%' || #{search} || '%' and num > 0 order by num desc) N)
		where R between #{startRow} and #{lastRow}
	</select>






</mapper>  