<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lg.t2.team.info.TeamInfoDAO">
	
	<!-- 이력 CRUD -->
	<select id="getCareerList" parameterMap="com.lg.t2.team.info.PlayerCareerDTO" resultType="com.lg.t2.team.info.PlayerCareerDTO">
		SELECT * FROM pCareer WHERE plrNum= #{plrNum} sYear DESC
	</select>
	<insert id="setCareerInsert" parameterType="com.lg.t2.team.info.PlayerCareerDTO">
		INSERT INTO pCareer VALUES (#{plrNum},#{sYear},'#{cContent}')
	</insert>
	<update id="setCareerUpdate" parameterType="com.lg.t2.team.info.PlayerCareerDTO">
		UPDATE pCareer SET cContent ='#{cContent}' WHERE (plrNum= #{plrNum} AND sYear=#{sYear})
	</update>
	<delete id="CareerDelete" parameterType="com.lg.t2.team.info.PlayerCareerDTO">
		DELETE pCareer WHERE (plrNum= #{plrNum} AND sYear=#{sYear})
	</delete>
	<!-- 연봉 CRUD -->
	<select id="getSalaryList" parameterMap="com.lg.t2.team.info.PlayerPayDTO" resultType="com.lg.t2.team.info.PlayerPayDTO">
		SELECT * FROM pSalary WHERE plrNum= #{plrNum} sYear DESC
	</select>
	<insert id="setSalaryInsert" parameterMap="com.lg.t2.team.info.PlayerPayDTO">
		INSERT INTO pSalary VALUES (#{plrNum},#{sYear},'#{salary}')
	</insert>
	<update id="setSalaryUpdate" parameterMap="com.lg.t2.team.info.PlayerPayDTO">
		UPDATE pSalary SET salary ='#{salary}' WHERE (plrNum= #{plrNum} AND sYear=#{sYear})
	</update>
	<delete id="SalaryDelete" parameterMap="com.lg.t2.team.info.PlayerPayDTO">
		DELETE pSalary WHERE (plrNum= #{plrNum} AND sYear=#{sYear})
	</delete>
	<!-- 사진 CRD -->
	
</mapper>  